.navbar {
    background-color: #3498db;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.navbar a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}